doctype html
link(rel='stylesheet' href='css/style.css')

head
    title Super awesome university!
body
    h1(class="center" style="font-size: 75px;") University of AWESOME!
    h2(class="center" style="font-size: 60px; margin-bottom: 50px;") Our majors
    div(style="margin: 0 auto; text-align: center;")
        a(href='/student1' class="hidden-link") Major of Sleeping!
        br
        a(href='/student2' class="hidden-link") Major of Prompt Engineering!
        br
        a(href='/student3' class="hidden-link") Student 3
    div(class="background")

    script(src="js/main.js")