
body{
    background-color: black;
}

.title{
    text-align: center;
    color: aqua;
    font-size: 40px;
}

.sub-title{
    text-align: center;
    color: blue;
    font-size: 30px;
}

.double-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-left {
    margin-left: auto;
}

.image-right{
    margin-right: auto;
}

.center-text{
    text-align: center;
    color: white;
    font-size: 20px;
}

.top-comments{
    text-align: center;
}

.comment{
    text-align: center;
    color: blue;
    transform: translateX(40px);
    overflow-wrap: break-word;
    hyphens: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.main-title{
    text-decoration: none;
    font-size: 40px;
    color: white;
}