doctype html
link(rel='stylesheet' href='css/student3.css')

<head>
    <title>Mayonnaise expert (PHD) - student 3</title>
</head>
<body>
    <h1>Andrew Thompson</h1>
    <h2>Sliding Major in Mayonnaise Dynamics</h2> 
    <section>
        <h2>Location</h2>
        <p> 
        | Global Academy of Condiment Sciences. 
        | This academy is located in the middle of the Sahara desert. 
        | This is due to the dunes that allow for many a person to slide down using mayonnaise.
        </p>
    </section>
    <section>
        <h2>
</body>