doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Sleeping - Student 1 - Comments
body
    div(class="stars")

    a(href="/student1" style="text-decoration: none; color: inherit; font-size: 40px; color: white;") Grant Koupal - University of Sleeping

    h2(style="text-align: center; color: white;" id="HI") Comments

    button(id="addButton" style="position: absolute; left: 50%; transform: translateX(-100px);") Add Comment

    input(type="text" style="width: auto; position: absolute; left: 50%;" id="commentInput" placeholder="Comment...")

    p -

    style(src="css/student1.css")
    script(src="js/student1-comments.js")
    