doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Sleeping - Student 1 - Comments
body
    div(class="stars" style="position: relative; z-index: -1;")

    a(href="/student1" class="main-title") Grant Koupal - University of Sleeping

    section(class="main-title-section")

        h2(style="text-align: center; color: white;" id="HI") Comments

        button(id="addButton" style="position: absolute; left: 50%; transform: translateX(-100px);") Add Comment

        input(type="text" style="width: 25%; position: absolute; left: 50%;" id="commentInput" placeholder="Comment...")

        p -

        section(class="paragraph-section2" style="background-color: orange")

    script(src="js/student1-comments.js")
    