doctype html
link(rel='stylesheet' href='css/comments.css')

head
    title Sleeping - Student 1 - Comments
body
    h1 Grant Koupal

    h2(style="text-align: center;" id="HI") Comments

    button(id="downloadButton") Add Comment

    script.

        const fileUrl = "Data.txt";
        
        fetch(fileUrl)
        .then(response => {
            if (!response.ok) {
            throw new Error('File not found');
            }
            return response.text();
        })
        .then(data => {
            //Show comments
            const DATA = data;

            const allComments = DATA.split('\n');

            for(let i = 0; i < allComments.length; i++){
                const pElement = document.createElement('p');

                pElement.textContent = allComments[i];

                pElement.setAttribute('style', 'color: blue; text-align: center');

                pElement.id = i;

                pElement.textContent = (i + 1) + ". " + pElement.textContent;

                document.body.appendChild(pElement);
            }
        })
        .catch(error => {
            console.error('Error fetching the file:', error);
        });


        document.getElementById('downloadButton').addEventListener('click', function() {
            
            
        });
    