doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Sleeping - Student 1
body
    h1 Grant Koupal

    h2 Location
        p
    h2 About 
        p 
    h2 Things to Do 
        p 
    