doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Sleeping - Student 1
body
    h1 Grant Koupal

    h2 Location
        p(style="font-size: 1em;")
            The Major of Sleeping is located on the planet Neptune, 100km below air level directly below the south pole.
            It is perfectly built to float there amongst the very high pressurized gasses that surround it.
            The Major can only be accessed by being transported by a very durable capsule that takes you to the entrance.
    h2 About 
        h3 Difficulty 
            p 
        h3 Requirements 
            p 
        h3 Career Opportunities 
            p 
    h2 Things to Do 
        p 
    