doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Sleeping - Student 1
body
    h1 Grant Koupal

    h2(style="text-align: center;") Location
    p(style="width: 50%; margin: 0 auto;")
        | The Major of Sleeping is located on the planet Neptune, 100km below air level directly below the south pole.
        | It is perfectly built to float there amongst the very high pressurized gasses that surround it.
        | The Major can only be accessed by being transported by a very durable capsule that takes you to the entrance.
    
    h2(style="text-align: center;") About 
    h3(style="text-align: center;") Difficulty 
    p(style="width: 50%; margin: 0 auto;")
        | The Major of Sleeping requires a lot of focus and commitment to be able to reach the sleeping levels of being 
        | in bed for days! The major provides 100 courses with 25 courses per semester that take an estimated 20 hours per course.
        | In order to stay in the school there is a requirement of 12 hours per day of sleep.

    h3(style="text-align: center;") Requirements 
    p(style="width: 50%; margin: 0 auto;") 
        | There are many requirements to go into the school, the most important one being 24 hours of sleep before going into the school 
        | in the first place, this will help you prepare for the responsibilities you will have when at the school. You are also required
        | to never go to bed after 12:00am during your senior year of highschool.

    h3(style="text-align: center;") Career Opportunities 
    p(style="width: 50%; margin: 0 auto;") 
        | This major helps you in all career oportunities because you will be able to sleep faster and more effectively no 
        | matter what job you go into. This means this will allow you to go into any job you want because when you wake up,
        | you can learn at peak performances to work at your job at the highest level.

    h2(style="text-align: center;") Things to Do
    p(style="width: 50%; margin: 0 auto;")
        | This majors allows for an endless amount of opportunity because it can be applied anywhere!
    img(src="img/University.jpg" alt="University in Space")
        
    